@keyframes teamsShowLeftAnimation {
  from {
    opacity: 0;
    width: 50vw;
    height: 50vw;
    transform: translateX(-60%);
    max-width: 50vw;
  }
  50% {
    opacity: 0.5;
    width: 34.45vw;
    height: 34.45vw;
    transform: translateX(-30%);
  }
  to {
    width: 18.9vw;
    height: 18.9vw;
    opacity: 1;
    transform: translateX(0%);
    max-width: 378px;
  }
}

@keyframes teamsShowRightAnimation {
  from {
    opacity: 0;
    width: 50vw;
    height: 50vw;
    transform: translateX(60%);
    max-width: 50vw;
  }
  50% {
    opacity: 0.5;
    width: 35.08vw;
    height: 35.08vw;
    transform: translateX(30%);
  }
  to {
    width: 20.15vw;
    height: 20.15vw;
    max-width: 399px;
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes teamsHideLeftAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-300%);
  }
}

@keyframes teamsHideRightAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(300%);
  }
}
