<div class="modal isClosed">
  <button class="modal__close-button">
    <svg class="modal__close-svg" width="51" height="51">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <section class="cupHoist">
    <img src="./images/cupHoist.png" class="cupHoist__image" alt="cup" />
  </section>
  <section class="confetti">
    <ul class="confetti__list"></ul>
  </section>
  <section class="fans">
    <div class="fans__wrapper left-side">
      <div class="fans__picture left-side"></div>
    </div>
    <div class="fans__wrapper right-side">
      <div class="fans__picture right-side"></div>
    </div>
  </section>
  <section class="versus">
    <div class="versus__tagline container">
      <p class="versus__tagline-p line1">one</p>
      <p class="versus__tagline-p line2">game</p>
      <p class="versus__tagline-p line3">to glory</p>
    </div>
    <div class="versus__teams container">
      <div class="versus__team-logo left-side">
        <svg class="versus__team-svg left-side">
          <use href="./images/svg/sprite.svg#team-left"></use>
        </svg>
      </div>
      <div class="versus__team-logo right-side">
        <svg class="versus__team-svg right-side">
          <use href="./images/svg/sprite.svg#team-right"></use>
        </svg>
      </div>
    </div>
  </section>
</div>
