<div class="modal isClosed">
  <button class="modal__close-button">
    <!-- <svg class="modalClose__icon">
      <use href="./images/svg/closeBtn.svg"></use>
    </svg> -->
    Х
  </button>
  <img src="./images/cupHoist.png" class="modal__image-cup" alt="cup" />
  <ul class="modal__confetti">
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <!-- <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li>
    <li class="modal__confetti-piece"></li> -->
  </ul>
</div>
