.background {
  position: fixed;
  z-index: $backgroundZ;
  width: 100%;
  height: 120%;
  min-height: 120%;
  transform: rotate(-45deg) translateY(-60%);
  pointer-events: none;
  opacity: 0;
  @for $i from 9 through 7 {
    @media (max-height: #{$maxHeight/3+($i*50)+50}px) {
      height: #{123 - (-9 + $i) * 10 + '%'};
    }
  }
  @for $i from 6 through 0 {
    @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
      height: #{285 - 20 * $i + '%'};
    }
  }

  &__picture {
    z-index: $backgroundZ + 5;
    height: 100%;
    min-width: 50%;
    background-repeat: no-repeat;
    background-size: 120%;

    background: radial-gradient(circle closest-side at 58% 48%, transparent, $black 130%);
  }
  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // transition: all #{$duration * 1.5}ms linear;
    @media (max-height: 700px) and (max-width: 1200px) {
      width: 120%;
    }
  }
  //LEFT SIDE
  &__wrapper.left-side {
    z-index: $backgroundZ + 1;
    transform: translate(-4%, 0%);
  }
  &__picture.left-side {
    z-index: $backgroundZ + 3;
    transform: rotate(45deg) translate(10%, 31%);
    background-color: $black;
    background-position: bottom 0% left 50%;

    @for $i from 10 through 5 {
      @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
        background-position: bottom #{-15 + (11 - $i) * (-2) * (10-$i) + '%'} right #{50 + (10 - $i) *
          -10 + '%'};
      }
    }
    @for $i from 4 through 1 {
      @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
        background-position: bottom -89% right #{54 + (-5 + $i) * 10 + '%'};
      }
    }
    &::after {
      z-index: $backgroundZ + 6;
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      left: -20px;
      background: radial-gradient(circle closest-side at 58% 48%, transparent, $black 600px);
      opacity: 0.8;
      background-position: bottom 0% left -10%;
    }
  }
  //RIGHT SIDE
  &__wrapper.right-side {
    z-index: $backgroundZ + 2;
    transform: translate(12%, 0%);
  }
  &__picture.right-side {
    z-index: $backgroundZ + 4;
    transform: rotate(45deg) translate(-10%, -24%);
    background-position: bottom 30% right 50%;

    @for $i from 9 through 5 {
      @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
        background-position: bottom #{50 + (10 - $i) * -20 + '%'} right #{10 + (10 - $i) * 30 + '%'};
      }
    }
    &::after {
      z-index: $backgroundZ + 6;
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      left: -20px;
      opacity: 0.8;
    }
  }
}
