.sample {
  padding-bottom: 0;
  &__container {
    padding: 17px 0px 0px;
    min-width: 1000px;
    margin: auto;
    display: inline-block;
  }
  &__image {
    display: block;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
