// body {
//   // background-image: url(../images/background.jpg);
// }
// * {
//   outline: 1px solid red;
// }

li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  text-align: center;
  margin: auto;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;
  &.modalIsOpen {
    overflow: hidden;
  }
}
.container {
  padding: 17px 0px;
  min-width: 1000px;
  margin: auto;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
