.confetti {
  // width: 100%;
  // height: 100%;
  // &__list {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  //   z-index: 40;
  // }
  &__item {
    z-index: 50;
    position: absolute;
    width: 553px;
    height: 632px;
    background-image: url('../images/confetti.png');
    transition: all #{$duration * 2}ms linear;
  }
}
