.confetti {
  &__item {
    z-index: 50;
    position: absolute;
    width: 553px;
    height: 632px;
    background-image: url('../images/confetti.png');
    transition: all #{$duration * 2}ms linear;
  }
}
