.dashboard {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  opacity: 0;
  width: 100%;
  height: 100%;

  &__mainLayer {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  &__hero {
    font-size: 70px;
    font-family: 'DINNextLTPro-Heavy';
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    z-index: 52;
    &.team1 {
      transform: matrix(1.17980774512497, 0, 0, 1.17962466487936, 65, 0);
    }
    &.vs {
      transform: matrix(1.17980774512497, 0, 0, 1.17962466487936, 9, 0);
    }
    &.team2 {
      transform: matrix(1.17980774512497, 0, 0, 1.17962466487936, 33, 0);
    }
  }
  &__hero-wrapper {
    background-color: rgb(255, 255, 255);
    transform: translate(30px, 33px);
    top: 215px;
    height: 82px;
    z-index: 53;
    padding: 13px 74px 11px 11px;
    margin-bottom: 12px;
    &.team1 {
      width: 838px;
    }
    &.vs {
      width: 172px;
    }
    &.team2 {
      width: 480px;
    }
  }
  &__secondaryLayer {
    position: fixed;
    z-index: 56;
    width: 100%;
    height: 120%;
    min-height: 120%;
    transform: rotate(-45deg) translateY(-60%);
    pointer-events: none;
    @for $i from 9 through 7 {
      @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
        height: #{134 - (-9 + $i) * 10 + '%'};
      }
    }
    @for $i from 6 through 0 {
      @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
        height: #{285 - 20 * $i + '%'};
      }
    }
  }
  &__secondaryLayer-picture {
    z-index: 55;
    height: 100%;
    min-width: 50%;
    background-repeat: no-repeat;
    background-size: 120%;
    background-blend-mode: multiply, screen;
  }
  &__secondaryLayer-wrapper {
    display: block;
    outline: solid 1px black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all #{$duration * 1.5}ms linear;
    @media (max-height: 700px) and (max-width: 1200px) {
      width: 120%;
    }
  }
  &__wrapper.right-side {
    z-index: 55;
    // transform: translate(100%, 130%);
  }
  &__picture.right-side {
    z-index: 56;
    transform: rotate(45deg) translate(-10%, -24%);
    background-image: linear-gradient(rgb(208, 173, 104), rgb(208, 173, 104)),
      url('../images/fansRight.jpg');
    background-position: bottom 30% right 50%;

    @for $i from 9 through 5 {
      @media (max-height: #{$maxHeight/3+($i*50)-50}px) {
        background-position: bottom #{50 + (10 - $i) * -20 + '%'} right #{10 + (10 - $i) * 30 + '%'};
      }
    }
    &::after {
      z-index: 57;
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      left: -20px;
      background: radial-gradient(circle closest-side at 67% 57%, transparent, #000 600px);
      opacity: 0.8;
    }
  }
}
