.header {
  width: 100%;
  min-height: 112px;
  font-family: 'Nulshock-Book';
  text-align: center;
  margin: auto;
  justify-content: center;
  text-transform: uppercase;
  background-color: $white;
  filter: drop-shadow(0px 0px 2px $lightgray);
  &__container {
    padding: 17px 0px;
    min-width: #{$maxWidth/2 + 'px'};
    margin: auto;
    display: inline-block;
  }
  &__logo-text {
    color: $gray;
    font-size: 37px;
    display: block;
    margin-bottom: 20px;
  }
  &__nav-list {
    display: flex;
    color: $lightgray;
    font-size: 12px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    & li {
      cursor: pointer;
      &:hover {
        color: $darkGray;
      }
    }
  }
}
