$duration: 1000;

.modal {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  opacity: 0.502;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity $duration/4 $timing-function;
  overflow: hidden;
  &.isOpen {
    opacity: 1;
    pointer-events: initial;
    transform: scale(1);
  }

  &__close-button {
    // background-image: url('../images/svg/closeBtn.svg');
    width: 37px;
    height: 37px;
    position: absolute;
    right: 20px;
    top: 17px;
    border: none;
    border-radius: 50%;
    z-index: 1000;
  }
  &__image-cup {
    position: absolute;
    z-index: 3;
    bottom: -600px;
    left: 50%;
    transform: translateX(-44%);
    transition: all 500ms ease-out;
    // transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: drop-shadow(77px 77px 11px rgba(0, 0, 0, 0.4));
  }
  &__confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
  }
  &__confetti-piece {
    z-index: 5;
    position: absolute;
    width: 553px;
    height: 632px;
    background-image: url('../images/confetti.png');
    transition: all #{$duration}ms ease;

    // @for $i from 1 through 5 {
    //   &:nth-child(#{$i}) {
    //     transform: rotate(#{randomNum(-80, 180)}deg);
    //     animation: confettiAnimation 3000ms infinite ease-out;
    //     // animation: 3s ease-in 2s 2 reverse both paused confettiAnimation;
    //     // animation-delay: 100ms;
    //     // animation-duration: 4000ms;
    //   }
    //   &:nth-child(#{$i + 5}) {
    //     transform: rotate(#{randomNum(-80, 180)}deg);
    //     animation: confettiAnimation 3000ms infinite ease-out;
    //     // animation: confettiAnimation 4000ms infinite ease-out;
    //     // animation-delay: 1100ms;
    //     // animation-duration: 4000ms;
    //   }
    //   // &:nth-child(#{$i + 8}) {
    //   //   transform: rotate(#{randomNum(-80, 180)}deg);
    //   //   animation: confettiAnimation 2000ms infinite ease-out;
    //   //   animation-delay: 3000ms;
    //   //   animation-duration: 4000ms;
    //   // }
    // }
    // &:nth-child(even) {
    //   top: 60%;
    //   // left: 0%;
    // }
    // &:nth-child(5n-4) {
    //   // animation-delay: 200ms;
    //   left: -10%;
    // }
    // &:nth-child(5n-3) {
    //   // animation: confettiAnimation #{$duration}ms infinite ease-out;
    //   // animation-delay: 400ms;
    //   left: 15%;
    // }
    // &:nth-child(5n-2) {
    //   // animation: confettiAnimation #{$duration}ms infinite ease-out;
    //   left: 40%;
    // }
    // &:nth-child(5n-1) {
    //   // animation: confettiAnimation #{$duration}ms infinite ease-out;
    //   left: 65%;
    // }
    // &:nth-child(5n) {
    //   // animation: confettiAnimation #{$duration}ms infinite ease-out;
    //   left: 90%;
    // }
  }
}
