.modal {
  max-width: #{$maxWidth}px;
  min-width: #{$maxWidth/2}px;
  max-height: #{$maxHeight}px;
  @for $i from 1 through 10 {
    @media (max-width: #{$maxWidth/(10+$i)*10}px) {
      max-height: #{$maxHeight/(10 + $i) * 10}px;
    }
  }
  background: linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 0.502;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;
  pointer-events: none;

  overflow: hidden;
  &.afterAnimation {
    background-blend-mode: multiply, screen;
    background-image: linear-gradient(rgb(208, 173, 104), rgb(208, 173, 104)),
      url('../images/trophy.jpg');
    width: 100%;
    height: 100%;
    z-index: 50;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom 0% right -300px;
    @for $i from 10 through 0 {
      @media (max-height: #{$maxHeight/3+($i*50)+200}px) {
        background-position: bottom 0% right #{$i * (-30) + 'px'};
      }
    }
  }
  &.isOpen {
    opacity: 1;
    pointer-events: initial;
    transform: scale(1) translateX(-50%);
  }

  &__close-button {
    border: none;
    border-radius: 50%;
    background-color: transparent;

    width: 51px;
    height: 51px;
    position: absolute;
    right: 20px;
    top: 17px;
    z-index: 1000;
  }
  &__close-svg:hover,
  &__watch-svg:hover {
    fill: orange;
    cursor: pointer;
    & + .modal__watch-text {
      color: orange;
      cursor: none;
    }
  }
  &__watch-button {
    opacity: 0;
    pointer-events: none;
    background: transparent;
    position: absolute;
    right: 5%;
    top: 17%;
    z-index: 59;
    border-radius: 50%;
    border: none;
  }

  &__watch-text {
    font-size: 65px;
    font-family: 'DINNextLTPro-Heavy';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0.209px 1.989px 3px rgba(0, 0, 0, 0.75);
    transform: matrix(0.46389691309444, 0, 0, 0.46389691309444, 0, 0);
    margin: 0;
    &:hover {
      // color: orange;
      cursor: default;
    }
  }
}
