.versus {
  z-index: 70;
  position: absolute;
  width: 100%;
  height: 100%;
  &__tagline {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  &__tagline-p {
    margin: 0;
    width: 100%;
    font-family: 'DINNextLTPro-Heavy';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.569;
    text-align: center;
    -moz-transform: matrix(1.46457255349789, 0, 0, 1.46534663789396, 0, 0);
    -webkit-transform: matrix(1.46457255349789, 0, 0, 1.46534663789396, 0, 0);
    -ms-transform: matrix(1.46457255349789, 0, 0, 1.46534663789396, 0, 0);
    position: fixed;
    top: 50%;
    z-index: 73;
    opacity: 0;
    transition: opacity #{$duration / 4}ms linear;
    &.line1 {
      font-size: 307px;
      line-height: 175.14px;
      text-shadow: 6.691px 7.431px 30.4px rgba(0, 0, 0, 6);
      transform: translateY(-110%);
    }
    &.line2 {
      font-size: 147px;
      line-height: 176.61px;
      text-shadow: 6.691px 7.431px 30.4px rgba(0, 0, 0, 5);
    }
    &.line3 {
      font-size: 123px;
      line-height: 110.67px;
      transform: translateY(150%);
      text-shadow: 6.691px 7.431px 30.4px rgba(0, 0, 0, 1);
    }
  }
  &__teams {
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  &__team-logo {
    width: 50%;
    display: flex;

    &.left-side {
      justify-content: start;
    }
    &.right-side {
      justify-content: end;
    }
  }
}
